{{!< default}}

<main class="site-main">

    {{#post}}
        {{> "content" width="wide"}}
    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

    {{#post}}
        {{> "comments"}}
    {{/post}}

    {{#post}}
        <div class="sdk-tags-post">
            {{#foreach tags}}
                <a href="{{ url }}" class="sdk-tag-button">
                    <span class="tag-title">{{ name }}</span>
                </a>
            {{/foreach}}
        </div>
    {{/post}}

</main>