.sdk-voguer-footer {
    background-color: #fff;
    padding: 0px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-color: #17174a;
}

@media (min-width: 768px) {
    .sdk-voguer-footer-content {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        justify-content: space-between;
        padding: 48px 0px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .sdk-voguer-footer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 32px 0px;
        width: 100%;
        gap: 32px;
    }   
}


.sdk-voguer-footer-title > p {
    max-width: 420px;
    width: 100%;
}

.sdk-voguer-footer-about {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sdk-voguer-footer-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.sdk-voguer-footer-contact > p {
    font-weight: bold;
}

.sdk-contact-icons {
    display: flex;
    gap: 16px;
}

.sdk-voguer-footer-about > p {
    font-weight: bold;
}

.sdk-footer-copyright {
    padding-bottom: 32px;
}

.sdk-footer-line {
    background-color: #dedede;
}